button {
  width: 80px;
  height: 40px;
  background-color: lightcoral;
  cursor: pointer;
  color: white;
  border-radius: 7px;
  border: 1px solid rgb(71, 33, 33);
}

#card_list {
  width: 100%;
  height: 100%;
}

.card {
  width: 500px;
  height: 80px;
  background-color: lightgreen;
  border: 3px solid rgb(182, 236, 96);
}
